<!DOCTYPE html>
<link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#first">
              <img src="https://cloud.githubusercontent.com/assets/952992/7741471/83eb835e-ff55-11e4-9104-fffde4889bec.png" class="img-responsive imagen-top" alt="" />
            </a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#one">¿Noders?</a>
                </li>
                <li>
                    <a class="page-scroll" href="#two">Capítulos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#three">¿Que hacemos?</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://fforres.typeform.com/to/z2Rj7z" target="_blank">
                      <u>
                        <span>
                        Únete a nuestro slack!
                        </span>
                        <i class="fa fa-fw fa-slack"></i>
                      </u>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header id="first">
    <div class="header-content">
        <div class="inner">
            <img src="https://cloud.githubusercontent.com/assets/952992/7741356/482c862a-ff54-11e4-836b-e0c5d0260f12.png" alt="" class="col-md-6 img-responsive logo" />
            <h2>¿Porqué? Porque nos gusta</h2>
            <hr>
            <h4>Somos la comunidad de NodeJS y JS en Lationamérica!</h4>
            <br/>
            <a href="https://fforres.typeform.com/to/z2Rj7z" target="_blank" class="btn btn-primary btn-xl page-scroll">¡Únete a nuestro slack! <i class="fa fa-fw fa-slack"></i></a>
        </div>
    </div>
    <!--video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
        <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video-->
</header>
<section class="bg-primary" id="one">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Noders</h2>
                <h2 class="margin-top-0 text-primary"><small>¿Y qué es Noders? </small></h2>
                <br>
                <p class="text-faded">
                    En Noders creamos y mantenemos una comunidad global alrededor de JavaScript, NodeJS y su ecosistema en LatinoAmérica y el Mundo. Cursos, talleres, workshops, hackatones y presentaciones!
                </p>
                <p class="text-faded">
                    ¿Tienes algo en mente?
                </p>
                <p class="text-faded">
                    ¡Contáctanos!
                </p>
                <hr>
                <ul class="list-inline socials">
                    <li>
                        <a href="http://www.facebook.com/noderscl" target="_blank">
                            <i class="icon-lg fa fa-fw fa-facebook wow fadeInUp" data-wow-delay=".4s"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/noderscl" target="_blank">
                            <i class="icon-lg fa fa-fw fa-twitter wow fadeInUp" data-wow-delay=".3s"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://fforres.typeform.com/to/z2Rj7z" target="_blank">
                            <i class="icon-lg fa fa-fw fa-slack wow fadeInUp" aria-hidden="true" data-wow-delay=".2s"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">Capítulos!</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center map-wrapper">
                <div id="map"></div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 text-center map-cta-wrapper">
                <h3>¿Quieres abrir tu propio capítulo?</h3>
                <p class="text-faded">
                    Si quieres realizar abrir tu capítulo, te interesa conocer más de nuestra comunidad, o solo quieres conversar... envíanos un mensaje!
                </p>
                <hr>
                <ul class="list-inline socials">
                    <li>
                        <a href="http://www.facebook.com/noderscl" target="_blank">
                            <i class="icon-lg fa fa-fw fa-facebook wow fadeInUp" data-wow-delay=".4s"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/noderscl" target="_blank">
                            <i class="icon-lg fa fa-fw fa-twitter wow fadeInUp" data-wow-delay=".3s"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://fforres.typeform.com/to/z2Rj7z" target="_blank">
                            <i class="icon-lg fa fa-fw fa-slack wow fadeInUp" aria-hidden="true" data-wow-delay=".2s"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
<section id="three" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="text-primary">Que Hacemos</h2>
                <h2 class="text-primary">
                  <small>
                    (Noders I.R.L.)
                  </small>
                </h2>
                <p class="text-faded">
                  Noders no es solo una comunidad de Slack.
                  <br>
                  Tambien realizamos eventos con la comunidad.
                  <br>
                  Check 'Em!
                </p>
                <br>
                <hr class="primary">
                <br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter gallery">
            <div class="photo">
                <a href="http://www.nodeschool.cl" target="_blank" class="gallery-box" data-src="//scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12814007_494933320690503_7737077604730078227_n.jpg?oh=6d2d5fdb9c36e8049a6a97aacd4553a5&oe=57D4AF9B">
                    <img src="//scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12814007_494933320690503_7737077604730078227_n.jpg?oh=6d2d5fdb9c36e8049a6a97aacd4553a5&oe=57D4AF9B" class="img-responsive" alt="Image 1">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    Nodeschool Santiago
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="photo">
                <a href="http://www.meetup.cl" class="gallery-box" target="_blank" data-toggle="modal" data-src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12523097_1542678726046185_1540658923474516872_n.jpg?oh=7245bf2cb3b0d7f645274d51dde0fe0b&oe=57D2570F">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/12523097_1542678726046185_1540658923474516872_n.jpg?oh=7245bf2cb3b0d7f645274d51dde0fe0b&oe=57D2570F" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    MeetupJS Santiago
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="photo">
                <a href="https://www.facebook.com/NodersCL/photos/?tab=album&album_id=1481903932102431" class="gallery-box" target="_blank" data-toggle="modal" data-src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11807742_1481905195435638_4804948396210364343_o.jpg">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11807742_1481905195435638_4804948396210364343_o.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    NodeSchool Chile
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>



            <div class="photo">
                <a href="http://gdgsantiago.cl/" class="gallery-box" target="_blank" data-toggle="modal" data-src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11807742_1481905195435638_4804948396210364343_o.jpg">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11026151_1451066228519535_1735168882785415440_o.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    Hackathon - Noders + Google Developers Group Santiago
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="photo">
                <a href="http://gdgsantiago.cl/" class="gallery-box" target="_blank" data-toggle="modal" data-src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11164711_1443473135945511_8460864974999488813_o.jpg">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11164711_1443473135945511_8460864974999488813_o.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    Cursos: Introducción a NodeJS
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="photo">
                <a href="http://impacton.org/" class="gallery-box" target="_blank" data-toggle="modal" data-src="https://cloud.githubusercontent.com/assets/952992/15802529/23e6167a-2aad-11e6-86f2-a28ba01dec2d.jpg">
                    <img src="https://cloud.githubusercontent.com/assets/952992/15802529/23e6167a-2aad-11e6-86f2-a28ba01dec2d.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    Impacton.org
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="photo">
                <a href="http://impacton.org/" class="gallery-box" target="_blank" data-toggle="modal" data-src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/10922272_1451066265186198_4399756653080226153_o.jpg">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/10922272_1451066265186198_4399756653080226153_o.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    Cursos: ReactJS
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="photo">
                <a href="http://impacton.org/" class="gallery-box" target="_blank" data-toggle="modal" data-src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11080427_1439817076311117_2068637556177926042_o.jpg">
                    <img src="https://scontent-lhr3-1.xx.fbcdn.net/t31.0-8/11080427_1439817076311117_2068637556177926042_o.jpg" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <p>
                                    Cursos: Loopback
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--section class="container-fluid" id="four">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center text-primary">Features</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Simple</h3>
                <div class="media-body media-middle">
                    <p>What could be easier? Get started fast with this landing page starter theme.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-bolt-outline"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Free</h3>
                <div class="media-left">
                    <a href="#alertModal" data-toggle="modal" data-target="#alertModal"><i class="icon-lg ion-ios-cloud-download-outline"></i></a>
                </div>
                <div class="media-body media-middle">
                    <p>Yes, please. Grab it for yourself, and make something awesome with this.</p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Unique</h3>
                <div class="media-body media-middle">
                    <p>Because you don't want your Bootstrap site, to look like a Bootstrap site.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-snowy"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Popular</h3>
                <div class="media-left">
                    <i class="icon-lg ion-ios-heart-outline"></i>
                </div>
                <div class="media-body media-middle">
                    <p>There's good reason why Bootstrap is the most used frontend framework in the world.</p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Tested</h3>
                <div class="media-body media-middle">
                    <p>Bootstrap is matured and well-tested. It's a stable codebase that provides consistency.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-flask-outline"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="text-primary">Get Started</h2>
            <a href="http://www.bootstrapzero.com/bootstrap-template/landing-zero" target="ext" class="btn btn-default btn-lg wow flipInX">Free Download</a>
        </div>
        <br>
        <hr/>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <h6 class="wide-space text-center">BOOTSTRAP IS BASED ON THESE STANDARDS</h6>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-html5-outline" title="html 5"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-sass" title="sass"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-css3-outline" title="css 3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<section id="last">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                <hr class="primary">
                <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
            </div>
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <form class="contact-form row">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                    <div class="col-md-12">
                        <label></label>
                        <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <label></label>
                        <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section!-->
<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-4 column">
                <h4>Más Información</h4>
                <ul class="list-unstyled">
                    <li><a href="html://www.meetupjs.cl/">Nuestro Código de Conducta</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 column text-center">
                <h4>Mantente Conectado!</h4>
                <form>
                    <div class="form-group">
                        <a href="http://meetupjs.cl/assets/files/code.pdf" target="_blank" class="btn btn-primary">¡Únete a nuestro slack! <i class="fa fa-fw fa-slack"></i></a>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
                <h4>Síguenos</h4>
                <ul class="list-inline">
                    <li>
                      <a target="_blank" rel="nofollow" href="http://twitter.com/noderscl" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                    <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/noderscl" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                </ul>
            </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-xs-12 text-center">
            <span class="text-muted">©2016 Noders</span>
          </div>
        </div>
    </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js">
</script>

<!--scripts loaded here from cdn for performance -->
